body{
  margin: 0;
 
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color:#060606;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
.rightIcons{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  
}
.rightIconButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.expandImage{
  height: 20px;
  width: 20px;
  object-fit: cover;
  
}
.expandButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
}
.topSection{
  background-color:#060606;
}

.section{
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.editorContainer{
  flex-grow: 1; 
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: hsl(0, 0%, 5%);
  /* border: 1px solid rgb(138, 30, 30); */
}
.editorHeader{
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  padding: 10px;
 
}
.codeEditorWrapper{
  flex-grow:1 ;
  overflow: hidden;
  margin-bottom: 10px;
}

.editorContainer.collapsed{
  flex-grow: 0; 
}

.editorContainer.collapsed .CodeMirror-scroll{
  position: absolute;
}